
JiShi-Building/.DS_Store
.DS_Store
Lab1-ASR/__pycache__/asrInterface.cpython-37.pyc
Lab1-ASR/__pycache__/asrThread.cpython-37.pyc
.DS_Store
Lab1-ASR/src/__pycache__/asrInterface.cpython-37.pyc
Lab1-ASR/src/__pycache__/asrThread.cpython-37.pyc
