openssl==1.1.1
portaudio==19.6.0
pyaudio==0.2.11
python==3.7.13
swig==4.0.2
pip==22.0.4
pocketsphinx==0.1.15
pyqt5==5.15.4
pyqt5-qt5==5.15.2
pyqt5-sip==12.10.1
setuptools==62.1.0
speechrecognition==3.8.1

